/* Media Queries */ 

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 16px;
    }
    p {
        font-size: 12px;
    }
}

/* Default */

* {
    margin: 0;
    box-sizing: border-box;

}
h1{
    font-size: 2rem;
}
.app {
    height: 100vh;
    width: 100vw;
}



/* Style for Header */ 
.header {
    height: 6vh;
    background-color: lightcoral;
    color: lightyellow;
    padding-top: 2vh;
    text-align: center
}
/* Style for Main Body */ 
.main {
    height: 88vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.score {
    height: 4vh;
    text-align: center;
    padding-top: .5vh;
}
.card {
    height: 25vh;
    width: 21vw;
    margin: 2vh 2vw;
    border: 2px solid red;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 15vh;
    width: auto;
}
/* Style for Footer */ 
.footer {
    height: 2vh;
    background-color: rgb(57,57,58);
    color: white;
    text-align: center;
    padding-top: .25vh;
}

.rules {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 2px solid black;
    background-color: #3a3b3c;
    padding: 40px 20px;
    color: #fbfbfb;
    border-radius: 15px;
}

.blur {
    filter: blur(4px)
}

