.app {
    min-height: 100vh;
}

.header {
    height: 10vh;
    background-color: aliceblue;
    display: flex;
}
.main {
    min-height: 80vh;
    background-color: antiquewhite;
}
.footer {
    height: 10vh;
    background-color: azure;
}

.leftheader {
    width: 90vw;
}