* {
    margin: 0;
    box-sizing: border-box;
}
.app {
    min-height: 100vh;
    width: 100vw;
}

.header {
    height: 8vh;
    background-color: lightcoral;
    color: lightyellow;
    padding: 1vw 3vw;
    text-align: center
}
.score {
    height: 2vh;
    text-align: center;
    padding-top: .5vh;
}
.main {
    min-height: 88vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.footer {
    height: 2vh;
    background-color: rgb(56,56,56);
    color: white;
    text-align: center;
    padding-top: .25vh;
}
.card {
    height: 25vh;
    min-width: 21vw;
    margin: 2vh 2vw;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 15vh;
    width: auto;
}